<ul class="flex items-center gap-4 text-sm">
  <li>
    <a href="/signup" class="hover:underline hover:text-indigo-600">Signup</a>
  </li>
  <li>
    <a href="/login" class="button inter-tight-600">Login</a>
  </li>
</ul>