<div class="relative" id="user-dropdown">
  <button id="user-dropdown-button" class="cursor-pointer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-circle-user-round-icon lucide-circle-user-round"
    ><path d="M18 20a6 6 0 0 0-12 0" /><circle cx="12" cy="10" r="4" /><circle
        cx="12"
        cy="12"
        r="10"
      /></svg>
  </button>
  <div
    class="absolute top-full right-0 bg-white shadow-lg rounded-lg w-48 overflow-hidden hidden"
    id="user-dropdown-menu"
  >
    <a
      href="/account"
      class="block px-4 py-2 hover:bg-gray-100 text-sm"
    >Account</a>
    <a
      href="/account/security"
      class="block px-4 py-2 hover:bg-gray-100 text-sm"
    >Security</a>
    <a
      href="/logout"
      class="block px-4 py-2 hover:bg-gray-100 text-sm inter-tight-600 text-indigo-600 border-t border-gray-200"
    >Logout</a>
  </div>
</div>